TELEGRAM_BOT_TOKEN=8601737207:AAGbHU3Y8TiPfyrMa5a3Z64mbu78BMPYlVQ
TELEGRAM_CHAT_ID=5800850976
DATABASE_URL=postgresql://postgres:aq3YYediVpdo60Qb@db.iygqumsqsfpbnwcuzptn.supabase.co:5432/postgres
 # Frame per le azioni
